h1{
    margin-top: 10%;
    font-family: "chupilca-fat", sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 150px;
        color:green;
}

h3{
    font-size:48px;
    font-family: "ellograph-cf", monospace;
        font-weight: 900;
        font-style: italic;
}
.difficulty-btn{
    display:inline-block;
padding: 10px 24px;
cursor: pointer;
text-align: center;
text-decoration:none;
box-shadow: 0 9px #999;
}

.difficulty-btn:active{
    box-shadow: 0 5px #a5d49c;
    transform: translateY(4px);
}
.easy{
    background-color: rgb(154, 206, 154);
    color: rgb(3, 70, 3);
    border: 2px;
}

.medium {
    background-color: rgb(224, 233, 158);
    color: rgb(182, 101, 9);
    border: 2px;
}

.hard {
    background-color: rgb(70, 10, 10);
    color: rgb(155, 39, 29);
    border: 2px;
}

#wordGraveyard {
    background: rgba(255, 255, 255, 0.2);
    padding: 15px;
    border-radius: 8px;
}

#game-message{
    font-size: 24px;
    font-weight:bold;
}

